
.weekly-quest{
    position: absolute;
    width: 1050px;
    height: 360px;
    left: 335px;
    top: 112px;
}
.copy-weekly{
    top: 532px;
}
.basic{
    position: absolute;
    height: 16px;
    left: 0%;
    right: 90.29%;
    top: calc(50% - 16px/2 - 172px);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.master{
    right: 87.33%;
}
.html-css-1{
    position: absolute;
    height: 18px;
    left: 0%;
    right: 90%;
    top: calc(50% - 18px/2 - 148px);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    /* identical to box height, or 82% */
    color: #FFFFFF;
}
.cta{
    position: absolute;
    left: 84.67%;
    right: 7.14%;
    top: 3.06%;
    bottom: 88.61%;
}
.all-lections{

    position: absolute;
    height: 17px;
    left: 15.12%;
    right: 13.95%;
    top: calc(50% - 17px/2 + 0.5px);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}
.rectangle-copy-4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
}
.arrow-right{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 985px;
    top: 11px;
}

.arrow-shape{
    position: absolute;
    left: 20%;
    bottom: 20%;
    transform: rotate(270deg);
}
.arrow-left{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1020px;
    top: 11px;
}
.arrow-shape-2{
    position: absolute;
    left: 40%;
    bottom: 20%;
    transform: rotate(90deg);
}
.rectangle-15{
    position: absolute;
    left: 100%;
    right: -2.86%;
    top: -0.702%;
    bottom: 88.61%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


