.item-1{
    position: absolute;
    left: 0%;
    right: 75.71%;
    top: 18.33%;
    bottom: 0%;
}
.mask-item-1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.04;
    border-radius: 6px;
}
.action-1{
    position: absolute;
    left: 5.88%;
    right: 74.51%;
    top: 5.1%;
    bottom: 88.1%;
    z-index:2;
}
.action-2{
    position: absolute;
    left: 2.75%;
    right: 77.65%;
    top: 5.1%;
    bottom: 88.1%;
    z-index: 2;
}
.action-3{
    position: absolute;
    left: 2.75%;
    right: 77.65%;
    top: 5.1%;
    bottom: 88.1%;
}

.lection-1{
    position: absolute;
    height: 12px;
    left: 12%;
    right: 10%;
    top: calc(50% - 12px/2);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    color: #FFFFFF;
}
.rectangle-item-1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #6F6EFF;
    border-radius: 3px;
}
.image{
    position: absolute;
    width: 255px;
    height: 144px;
    left: 0px;
    top: 0px;

}
.maik-jonietz-_yMciiStJyY-unsplash{
    position: absolute;
    left: 0.01%;
    right: -0.39%;
    top: -6.12%;
    bottom: 47.96%;
    z-index: 1;
    border-radius: 6px 6px 0px 0px;
}
.mask-copy-1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 51.02%;
    border-radius: 6px 6px 0px 0px;
    mix-blend-mode: normal;

}
.mask-copy-2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 51.02%;

    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.03;
    border-radius: 6px 6px 0px 0px;
}

.html-structure{
    position: absolute;
    height: 12px;
    left: 5.88%;
    right: 50.2%;
    top: calc(50% - 12px/2 + 18px);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
    /* identical to box height, or 75% */


    color: #FFFFFF;
}
.block-head-boy{
    position: absolute;
    height: 18px;
    left: 5.88%;
    right: 9.8%;
    top: calc(50% - 18px/2 + 43px);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.rectangle-item-s{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 78.91%;
    bottom: 20.75%;

    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.group {
    position: absolute;
    width: 225px;
    height: 30px;
    left: 15px;
    top: 249px;
}
.coins-1{
    position: absolute;
    left: 5.88%;
    right: 67.45%;
    top: 88.1%;
    bottom: 8.5%;
}
.date{
    position: absolute;
    height: 10px;
    left: 0%;
    right: -8.06%;
    top: calc(50% - 10px/2);

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 10px;
    /* identical to box height, or 77% */


    color: #FFFFFF;
}

.cta-1{
    position: absolute;
    left: 59.22%;
    right: 5.88%;
    top: 84.69%;
    bottom: 5.1%;

}
.watch{
    position: absolute;
    height: 10px;
    left: 20.22%;
    right: 21.35%;
    top: calc(50% - 10px/2);
    z-index: 1;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 10px;
    /* identical to box height, or 77% */
    color: #FFFFFF;
}
.rectangle-copy-4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
}

.item-2{
    position: absolute;
    left: 25.33%;
    right: 50.38%;
    top: 18.33%;
    bottom: 0%;
}

.adding-styles{
    right: 34.51%;
}
.item-3{
    position: absolute;
    left: 50.67%;
    right: 25.05%;
    top: 18.33%;
    bottom: 0%;
}
.action-3{
    position: absolute;
    left: 2.75%;
    right: 77.65%;
    top: 5.1%;
    bottom: 88.1%;
}
.item-4{
    position: absolute;
    left: 75.71%;
    right: 0%;
    top: 18.33%;
    bottom: 0%;
}



.id-hover{

}
.weekly-quest ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    z-index: 4;
}
.weekly-quest li.id-hover ul li.rectangle-copy-4{
    color: #FFFFFF;
}

.weekly-quest li ul li.rectangle-copy-4:hover{
    cursor: pointer;
    display: block;
    text-decoration: none;
    opacity: 0.06;
    z-index: 4;
}
.weekly-quest li ul.id-hover:hover{
    cursor: pointer;
    display: block;
    text-decoration: none;
    background: #2B2C3A;
    opacity: 0.6;
    z-index: 4;
}
.weekly-quest li a{
    display: block; /* Ссылка как блочный элемент */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #2B2C3A; /* Цвет текста */
    background-color: transparent; /* Цвет фона */

}
.weekly-quest li.id-hover a:hover {
    cursor: pointer;
    color: #2B2C3A; /* Цвет текста активного пункта */
    /* Цвет фона активного пункта */
    width: 90%;
    background-color: #2B2C3A;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;  /* Положение меню */
    margin: 0; padding: 5px;

}
