

body {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #2B2C3A;
}


p {
    position: absolute;
    height: 16px;
    left: 0%;
    right: 90.29%;
    top: calc(50% - 16px/2 - 172px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.4;
}
h1 {
    position: absolute;
    height: 18px;
    left: 0%;
    right: 90%;
    top: calc(50% - 18px/2 - 148px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    /* identical to box height, or 82% */
    color: #FFFFFF;
}
li {
    list-style-type: none; /* Убираем маркеры */
}


ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */

}

.top-bar{
    position: fixed;
    width: 1160px;
    height: 72px;
    left: 293.5px;
    top: 0;
    background: #2B2C3A;
    z-index: 5;
}
.text {
    position: absolute;
    height: 10px;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 10px;
    /* identical to box height, or 71% */
    top: calc(50% - 10px/2);
    color: #FFFFFF;
}

.FAQ {
    left: 4.74%;
    right: 93.02%;
    top: calc(50% - 10px/2 - 7px);
    font-size: 14px;
    /* identical to box height, or 71% */

    mix-blend-mode: normal;
    opacity: 0.6;
}
.support{
    left: 9.4%;
    right: 84.31%;
}
.settings {
    left: 17.67%;
    right: 76.72%;

}

.rectangle-copy {
    position: absolute;
    left: 25.69%;
    right: 74.22%;
    top: 17.24%;
    bottom: 41.38%;

    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.coins{
    position: absolute;
    left: 61.81%;
    right: 31.21%;
    top: 17.24%;
    bottom: 41.38%;
}
.coins-copy{
    left: 52.67%;
    right: 39.05%;
}

.rectangle{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 6%;
    border-radius: 5px;
}
.dz {
    left: 9.38%;
    right: 9.38%;
}

.lectures{
    left: 11.04%;
    right: 9.23%;
}
.energy{
    position: absolute;
    left: 69.66%;
    right: 20.78%;
}
.icon-1{
    position: absolute;
    left: 30.11%;
    right: 85.59%;
    top: 8%;
    bottom: 0%;



}
.rectangle-31{
    position: absolute;
    left: 2.7%;
    right: 81.08%;
    top: 18%;
    height: 18px;
    bottom: 12.5%;

    background: #FF4738;
    box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
}
.number1200{
    left: 27.93%;
    right: 43.24%;
    font-weight: 600;
}
.time{
    left: 60.36%;
    right: 15.32%;
    font-size: 11px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.rectangle-1{
    right: 7.21%;
    opacity: 0.06;
}
.account-info{
    position: absolute;
    left: 79.74%;
    right: 3.88%;
    top: 0%;
    bottom: 24.14%;
}
.avatar{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 0px;
    top: 0px;

    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.1));
}
.mulyadi-kL4coQHVj_A-unsplash{
    position: absolute;
    left: 0%;
    right: 76.84%;
    top: 0%;
    bottom: 0%;
}
.name {
    left: 30%;
    right: 28%;
    top: calc(50% - 10px/2 - 9px);
    font-size: 14px;
}
.online{
    position: absolute;
    left: 32.11%;
    right: 42.63%;
    top: 41.36%;
    bottom: -9%;

}
.oval{
    position: absolute;
    left: auto;
    right: 87.5%;
    top: 10%;
    bottom: 9%;
}
.online-text{
    left: 22.92%;
    right: -6.25%;
    font-weight: 600;
    color: #24CB8D;
    top: 50%;
    bottom: 0;
}
.pro{
    position: absolute;
    left: 78.95%;
    right: 0%;
    top: 18.18%;
    bottom: 50%;

}
.pro-text{
    left: 20%;
    right: 27.5%;
    font-size: 11px;
    text-transform: uppercase;
    top: -5px;
}
.rectangle-pro{
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    opacity: unset;
    Width: 40px;
    Height: 14px;
    top: -7px;
}

.rectangle-34 {
    top: 98.28%;
    background: #D8D8D8;
    opacity: 0.1;
    width: 100%;


}

section ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    z-index: 3;

}
section li.block-1 ul{
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    z-index: 3;
}
header li.block-1 a{
    cursor: pointer;
    display: block; /* Ссылка как блочный элемент */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #FFFFFF; /* Цвет текста */
    z-index: 3;
}
header li.block-1 a:hover, header li a.block-2:hover {
    cursor: pointer;
    color: #ffe; /* Цвет текста активного пункта */
    /* Цвет фона активного пункта */
    width: 90%;
    background-color: #2B2C3A;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    /* Положение меню */
    margin: 0; padding: 5px;
    z-index: 3;
}
header li.block-3:hover{
    cursor: pointer;

    color: #fac60c;
    position: absolute; /* Абсолютное позиционирование */
    border-radius: 30px;
    z-index: 3;
}
header li.block-1:hover ul.block-1 {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
    z-index: 3;
}





