
.left-bar{
    position: fixed;
    width: 280%;
    height: 810%;
    left: 0;
    top: 0;
    z-index: 4;
}
.group-5{
    position: fixed;
    width: 138px;
    height: 37px;
    left: 30px;
    top: 19px;
}
.games{
    position: absolute;
    width: 280px;
    height: 448px;
    left: 30px;
    top: 102px;
}


.beeline-2022{
    position: absolute;
    width: 40.43px;
    height: 16.68px;
    left: 1.22px;
    top: calc(50% - 16px/2 - 11.5px);
}

.year{
    position: absolute;
    height: 16px;
    left: 71.06%;
    right: -2.19%;
    top: calc(50% - 16px/2 - 8.5px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.7331px;
    line-height: 16px;
    /* identical to box height */


    color: #FFFFFF;
}
.group-3{
    position: absolute;
    left: 0;
    right: -0.82%;
    top: 27.27%;
    bottom: 0;
}
.interns{
    position: absolute;
    height: 34px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 34px/2 + 4.55px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.1818px;
    line-height: 32px;

    color: #FFFFFF;
}
.program{
    position: absolute;
    height: 20px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 20px/2 - 214px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.combined-shape-2 {
    position: absolute;
    left: 85.71%;
    right: 10.71%;
    top: calc(50% - 20px/2 - 214px);
    bottom: 95.98%;

    transform: rotate(0grad);
}
.mentors{
    position: absolute;
    height: 20px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 20px/2 - 181px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}
.lection{
    position: absolute;
    height: 20px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 20px/2 - 148px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.select-css{
    display: block;
    position: absolute;
    height: 20px;
    left: -2%;
    right: 6.3%;
    top: calc(50% - 20px/2 - 148px);
    bottom: 67.86%;
    background: transparent;
    color: #FF4738;
    border-color: transparent;
}
.combined-shape {
    position: absolute;
    left: 85.91%;
    right: 10.71%;
    top: 14.41%;
    bottom: 1.25%;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.combined-shape-shape{
    position: absolute;
    left: 83.91%;
    right: 10.71%;
    top: 17.41%;
    bottom: 79.25%;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.action {
    position: absolute;
    left: 0;
    right: 0;
    top: 23.21%;
    bottom: 67.86%;
}
.combined-shape-1{
    position: absolute;
    left: 6.86%;
    right: 75.71%;
    top: 22.5%;
    bottom: -17.5%;

    transform: rotate(0deg);
}
.html-css{
    position: absolute;
    height: 10px;
    left: 32.86%;
    right: 43.21%;
    width: 93.5%;
    top: calc(50% - 10px/2);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    /* identical to box height, or 71% */

    color: #FFFFFF;
}
.rectangle-2{
    position: absolute;
    left: 0;
    right: 98.93%;
    top: 0;
    bottom: 0;
    background: #6F6EFF;
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
}
.rectangle-2-copy{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
    mix-blend-mode: normal;
    opacity: 0.03;
}
.adventure{
    position: absolute;
    left: 0;
    right: 0;
    top: 32.14%;
    bottom: 58.93%;
}
.shape{
    position: absolute;
    left: 8%;
    right: 75.71%;
    top: 27.5%;
    bottom: 27.5%;


    mix-blend-mode: normal;
    opacity: 0.5;
}
.copy-1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
    mix-blend-mode: normal;
    opacity: 0;
}
.casual{
    position: absolute;
    left: 0;
    right: 0;
    top: 41.07%;
    bottom: 50%;
}
.fill{
    position: absolute;
    left: 8%;
    right: 75.71%;
    top: 27.5%;
    bottom: 27.5%;

    mix-blend-mode: normal;
    opacity: 0.5;
    transform: rotate(0deg);
}

.strategy{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 41.07%;
}
.react{
    position: absolute;
    height: 10px;
    left: 32.86%;
    right: 59.64%;
    top: calc(50% - 10px/2 + 1px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    /* identical to box height, or 71% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.fill-1{
    position: absolute;
    left: 8%;
    right: 75.71%;
    top: 30%;
    bottom: 27.5%;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.intellectual{
    position: absolute;
    left: 0;
    right: 0;
    top: 58.93%;
    bottom: 32.14%;
}
.fill-2{
    position: absolute;
    left: 8%;
    right: 75.71%;
    top: 27.5%;
    bottom: 27.5%;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.angular-data-git-js{

    position: absolute;
    height: 10px;
    left: 32.86%;
    right: 59.64%;
    top: calc(50% - 10px/2);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
/* identical to box height, or 71% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.sport{
    position: absolute;
    left: 0;
    right: 0;
    top: 67.86%;
    bottom: 23.21%;
}
.fill-3{
    position: absolute;
    left: 8%;
    right: 75.71%;
    top: 30%;
    bottom: 30%;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.rules{
    position: absolute;
    height: 18px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 18px/2 + 149px);
        font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    color: #FFFFFF;
}
.news{
    position: absolute;
    height: 18px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 18px/2 + 182px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    color: #FFFFFF;
}
.details{
    position: absolute;
    height: 18px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 18px/2 + 215px);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    color: #FFFFFF;
}
.rectangle-34-copy-3{
    position: fixed;
    width: 293px;
    height: 1px;
    left: 0;
    top: 70.99px;

    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.rectangle-34-copy-4{

    top: 600px;
    opacity: 0.06;
}
.switcher{
    position: absolute;
    width: 220px;
    height: 22px;
    left: 30px;
    top: 812px;

}

.sender{
    position: absolute;
    height: 10px;
    left: 0;
    right: -12.84%;
    top: calc(50% - 10px/2);

    font-family: Jost, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    /* identical to box height, or 71% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.oval-4{
    position: absolute;
    left: 85.36%;
    right: 0;
    top: 0;
    bottom: 0;

}
.rectangle-14{
    position: absolute;
    left: 80.91%;
    right: 0;
    top: 0;
    bottom: 0;

    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}
.mask {
    position: absolute;
    width: 300px;
    height: 870px;
    left: -8px;
    top: -8px;


    background: rgba(156, 165, 236, 0.04);
}
.id-1 .id-2 .id-3 .block-1 .block-2 .block-3{

}

section ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    z-index: 3;

}
section li ul{
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    z-index: 3;
}
section li a{
    cursor: pointer;
    display: block; /* Ссылка как блочный элемент */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #FFFFFF; /* Цвет текста */
    background-color: transparent; /* Цвет фона */
    z-index: 3;
}
section li.id-1 a:hover {
    cursor: pointer;
    color: #ffe; /* Цвет текста активного пункта */
    /* Цвет фона активного пункта */
    width: 90%;
    background-color: #2B2C3A;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;  /* Положение меню */
    margin: 0; padding: 5px;

    z-index: 3;
}
section li.id-1:hover ul {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
    z-index: 3;
}


section li.id-2 a:active {
    cursor: pointer;
    color: #6F6EFF; /* Цвет текста активного пункта */
    z-index: 3;
}
section li.id-2:active ul {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
    z-index: 3;
}


.id-3 a.combined-shape{display: inline-block}

.id-3 input, .id-3 ul, .id-3 a.combined-shape-shape { display: none; /* Прячем */ }
.id-3 label, .id-3 a  {
    cursor: pointer;
    z-index: 3;
}
.id-3 ul, .id-3 a.combined-shape-shape {
    margin: 0; padding: 5px; /* Убираем отступы и поля */
    list-style: none; /* Убираем маркеры списка */
    z-index: 3;
}
.id-3 a { color: #fff; /* Цвет ссылок */ }
.id-3 :checked ~ a.combined-shape-shape, .id-3 :checked ~ ul {
    display: inline-block; /* Показываем меню */
    z-index: 3;
}
.id-3 :checked ~ a.combined-shape{display: none}

section li.id-3 ul.id-4:hover {
    cursor: pointer;
    color: #ffe; /* Цвет текста активного пункта */
    /* Цвет фона активного пункта */
    width: 100.4%;
    background-color: #353646;
    position: absolute; /* Абсолютное позиционирование */
    /* Положение меню */
    margin: 0; padding: 5px;

    left: -10.4%;
    right: 6.3%;
    z-index: 3;
}
.id-4 li.rectangle-2{display:none}
.id-4:hover li.rectangle-2{display:inline-block}





.switch {
    position: relative;
    display: inline-block;
    left: 80.91%;
    width: 42px;
    height: 22px;
    mix-blend-mode: normal;
    border: 1px solid #5d5f70;
    box-sizing: border-box;
    border-radius: 15px;
    z-index: 3;
}
/*Hide checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 64px;


    left: -5px;
    right: 5%;
    top: 43%;
    bottom: -7px;
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 6;
}

.slider:before  { /* oval-4*/
    position: absolute;
    border-radius: 34px;
    content: "";
    height: 16px;
    width: 16px;
    left: 7px;
    bottom: 9px;

    background-color: #6F6EFF;
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);

    -webkit-transition: .4s;
    transition: .4s;
    z-index: 3;

}



input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    z-index: 3;
}

/* Rounded sliders */

